h1, h2, h3, h4, h5, p, a, li {
  color: #3E3E3E;
  font-family: "Montserrat","Yu Gothic";
}

input, textarea, span, option {
  font-family: "Montserrat","Yu Gothic";
}

ul {
  list-style: none;
}

a, p {
  text-decoration: none;
  letter-spacing: 0.45px;
  line-height: 26px;
}

section {
  width: 100%;
  background-color: #F3F3F3;
}

body {
  background-color: #F3F3F3;
}

.inner {
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .inner {
    width: 91%;
  }
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.or-btn {
  background-color: #EBCA1B;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 48px;
  box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  border-radius: 10px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .or-btn {
    padding: 13.5px 24px;
  }
}

.or-btn:hover {
  background-color: #ffe875;
}

.wh-btn {
  background-color: #FFFFFF;
  color: #3E3E3E;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 86px;
  border: 1px solid #707070;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 767px) {
  .wh-btn {
    padding: 16px 25%;
    font-size: 18px;
    letter-spacing: 3.6px;
  }
}

.wh-btn:hover {
  border: 1px solid #FFFFFF;
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.bl-btn {
  background-color: #3E3E3E;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 86px;
  border: 1px solid #FFFFFF;
  letter-spacing: 4px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .bl-btn {
    font-size: 18px;
    letter-spacing: 3.6px;
    padding: 16px 23%;
  }
}

.bl-btn:hover {
  border: 1px solid #707070;
  background-color: #FFFFFF;
  color: #3E3E3E;
}

header {
  width: 100%;
  height: 80px;
  background-color: #FFFFFF1A;
  position: fixed;
  z-index: 50;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 68px;
    background-color: #FFFFFF;
  }
}

header .header-inner {
  width: 627px;
  margin: 0 auto;
  height: 80px;
}

@media screen and (max-width: 767px) {
  header .header-inner {
    display: none;
  }
}

header .header-inner .navs {
  width: 627px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-inner .navs .nav {
  letter-spacing: -0.4px;
  font-size: 16px;
  margin-right: 40px;
  transition: all 0.2s ease 0s;
}

header .sp-logo {
  display: none;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  header .sp-logo {
    display: block;
  }
}

header .hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  header .hamburger {
    display: block;
  }
}

header:hover {
  transition: all 0.2s ease 0s;
  background-color: white;
  border-bottom: 1px solid #707070;
}

.nav:hover {
  border-bottom: 1px solid #3E3E3E;
}

.nav-active {
  border-bottom: 1px solid #3E3E3E;
  opacity: 1;
}

.top-wrap {
  position: relative;
  height: 700px;
}

@media screen and (max-width: 767px) {
  .top-wrap {
    height: 667px;
    overflow: hidden;
  }
}

.top-wrap .mv {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .top-wrap .mv {
    height: 667px;
    object-fit: cover;
    object-position: -245px 0px;
  }
}

.top-text {
  position: absolute;
  width: 524px;
  height: 264px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 767px) {
  .top-text {
    width: 91%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    text-align: center;
  }
}

.top-text h1 {
  font-size: 30px;
  letter-spacing: 0.02px;
  padding-bottom: 40px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .top-text h1 {
    font-size: 24px;
    letter-spacing: 0.02px;
    line-height: 45px;
    text-align: left;
  }
}

.top-text p {
  font-size: 18px;
  padding-bottom: 58px;
}

@media screen and (max-width: 767px) {
  .top-text p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 26px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .top-text a {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #news {
    position: relative;
    height: 720px;
    width: 100%;
  }
}

#news .inner {
  background-color: #FFFFFF;
  margin-top: 130px;
  margin-bottom: 130px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  #news .inner {
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 100%;
  }
}

#news .inner .conteiner {
  padding: 60px 50px 40px 50px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner {
    height: 627px;
    background-color: #FFFFFF;
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 0 40px 0;
    width: 91%;
    margin: 0 auto;
    box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  }
}

#news .inner .conteiner h3 {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner h3 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner hr {
    margin: 0;
  }
}

#news .inner .conteiner .content {
  height: 131px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CECDCD;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .content {
    display: block;
    height: 125px;
    padding: 16px;
  }
}

#news .inner .conteiner .content .news-title {
  display: flex;
}

#news .inner .conteiner .content .day {
  padding-left: 10px;
  width: 98px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .content .day {
    font-size: 14px;
    width: 78px;
    padding-left: 0;
  }
}

#news .inner .conteiner .content .label {
  margin-left: 60px;
  border: 2px solid #009944;
  background-color: #fff;
  border-radius: 50px;
  width: 125px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.35px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .content .label {
    font-size: 12px;
    width: 89px;
    margin-left: 40px;
  }
}

#news .inner .conteiner .content .main-news {
  display: flex;
  width: 785px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .content .main-news {
    width: 100%;
    height: 62px;
  }
}

#news .inner .conteiner .content .main {
  margin-left: 60px;
  margin-right: 80px;
  word-break: normal;
  width: 700px;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .content .main {
    width: 100%;
    margin: 0 22px  0 0;
    font-size: 14px;
    letter-spacing: -0.35px;
    padding-top: 13px;
  }
}

#news .inner .conteiner .content img {
  margin-right: 5px;
}

#news .inner .conteiner .content:hover {
  background-color: rgba(0, 153, 61, 0.2);
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

#news .inner .conteiner .more {
  margin-top: 82px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #news .inner .conteiner .more {
    margin: 56px 0 40px 0;
  }
}

#service {
  height: 655px;
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 400px, #F3F3F3 400px, #F3F3F3 655px);
}

@media screen and (max-width: 767px) {
  #service {
    height: 1100px;
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 480px, #F3F3F3 480px, #F3F3F3 928px);
  }
}

#service h3 {
  color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 80px;
}

#service .conteiner {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 960px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  #service .conteiner {
    width: 91%;
  }
}

#service .conteiner .contents {
  padding: 54px 48px 56px 48px;
  display: flex;
}

@media screen and (max-width: 767px) {
  #service .conteiner .contents {
    display: block;
    padding: 40px 16px;
    text-align: center;
  }
}

#service .conteiner .contents .content {
  text-align: center;
  width: 231px;
  height: 211px;
}

@media screen and (max-width: 767px) {
  #service .conteiner .contents .content {
    width: 91%;
  }
}

#service .conteiner .contents .content .sv-img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

#service .conteiner .contents .content h5 {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 30px;
  padding-top: 27px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  #service .conteiner .contents .content h5 {
    font-size: 18px;
    letter-spacing: 3.6px;
    padding-bottom: 24px;
  }
}

#service .conteiner .contents .content p {
  font-size: 14px;
  letter-spacing: 0.01px;
  line-height: 24px;
  text-align: left;
}

#service .conteiner .content1 {
  padding-right: 85.5px;
}

@media screen and (max-width: 767px) {
  #service .conteiner .content1 {
    padding: 0;
    margin: 0 auto;
  }
}

#service .conteiner .content2 {
  padding-right: 85.5px;
}

@media screen and (max-width: 767px) {
  #service .conteiner .content2 {
    padding-right: 0;
    padding-top: 65px;
    margin: 0 auto;
  }
}

#service .conteiner .content3 {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  #service .conteiner .content3 {
    padding-right: 0;
    padding-top: 65px;
    margin: 0 auto;
  }
}

#result {
  height: 832px;
  background: linear-gradient(90deg, #F3F3F3 0%, #F3F3F3 93px, #3E3E3E 93px, #3E3E3E 100%);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  #result {
    height: 546px;
    background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 100%);
  }
}

#result .conteiner {
  width: 100%;
  height: 672px;
  margin-right: 0;
  padding: 80px 0 80px 203px;
}

@media screen and (max-width: 767px) {
  #result .conteiner {
    height: 466px;
    padding: 40px 0 40px 16px;
  }
}

#result .conteiner h3 {
  color: #F3F3F3;
  text-align: left;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  #result .conteiner h3 {
    text-align: center;
    padding-right: 16px;
    padding-bottom: 40px;
  }
}

#result .conteiner .slide {
  margin-bottom: 68px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide {
    margin-bottom: 44px;
  }
}

#result .conteiner .slide-items {
  height: 436px;
  width: calc(100%-93px);
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-items {
    height: 295px;
  }
}

#result .conteiner .slide-card {
  width: 422px;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-card {
    width: 276px;
    margin-right: 26px;
    margin-left: 60px;
  }
}

#result .conteiner .slide-card img {
  height: 234px;
  width: 422px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-card img {
    height: 155.6px;
    width: 276.45px;
  }
}

#result .conteiner .slide-card .card-text {
  height: 94px;
  background-color: #F3F3F3;
  padding: 20px;
  width: 382px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-card .card-text {
    height: 71px;
    width: 252.1px;
    padding: 12px;
  }
}

#result .conteiner .slide-card .card-text h5 {
  font-size: 20px;
  letter-spacing: 0.01px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-card .card-text h5 {
    font-size: 15px;
  }
}

#result .conteiner .slide-card .card-text p {
  font-size: 16px;
  letter-spacing: 0.01px;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .slide-card .card-text p {
    font-size: 12px;
    padding-top: 12px;
    line-height: 20px;
  }
}

#result .conteiner .view {
  margin-top: 68px;
}

@media screen and (max-width: 767px) {
  #result .conteiner .view {
    font-size: 18px;
    margin-top: 56px;
    text-align: center;
    margin-right: 16px;
  }
}

#price {
  height: 533px;
}

@media screen and (max-width: 767px) {
  #price {
    height: 387px;
  }
}

#price .conteiner {
  padding: 80px 203px 131px 203px;
}

@media screen and (max-width: 767px) {
  #price .conteiner {
    padding: 0;
  }
}

#price .conteiner h3 {
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  #price .conteiner h3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#price .conteiner table {
  border-collapse: collapse;
  border-spacing: 0;
  height: 180px;
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #price .conteiner table {
    width: 90%;
  }
}

#price .conteiner th {
  border: solid 1px #707070;
  color: #FFFFFF;
  background-color: #3E3E3E;
  font-family: "Montserrat","Yu Gothic";
  font-weight: bold;
  vertical-align: middle;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  #price .conteiner th {
    font-size: 20px;
  }
}

#price .conteiner td {
  border: solid 1px #3E3E3E;
  background-color: #FFFFFF;
  color: #3E3E3E;
  text-align: left;
  font-family: "Montserrat","Yu Gothic";
  font-weight: bold;
  vertical-align: middle;
  padding-left: 30px;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  #price .conteiner td {
    font-size: 20px;
  }
}

#price p {
  padding-top: 23px;
}

@media screen and (max-width: 767px) {
  #price p {
    padding-top: 14px;
    font-size: 12px;
    padding-left: 16px;
  }
}

#comments {
  height: 746px;
  position: relative;
}

@media screen and (max-width: 767px) {
  #comments {
    height: 510px;
  }
}

#comments .bg-box {
  background-color: #3E3E3E;
  width: 980px;
  height: 616px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  #comments .bg-box {
    width: 100%;
    height: 450px;
  }
}

#comments .conteiner {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#comments .conteiner .comments {
  width: 644px;
  height: 616px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comments {
    width: 80%;
    padding: 40px 20px;
    height: 370px;
  }
}

#comments .conteiner .comments h3 {
  text-align: left;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comments h3 {
    padding-top: 0;
  }
}

#comments .conteiner .comments .comment {
  display: flex;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comments .comment {
    padding-top: 40px;
  }
}

#comments .conteiner .comments .comment img {
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comments .comment img {
    padding-right: 24px;
    width: 56px;
    height: 56px;
  }
}

#comments .conteiner .comments .comment p {
  font-size: 16px;
  letter-spacing: 0;
  width: 414px;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comments .comment p {
    width: 75%;
    font-size: 14px;
    line-height: 22px;
  }
}

#comments .conteiner .comments:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

#comments .conteiner .comment-img {
  padding-top: 126px;
  padding-bottom: 40px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  #comments .conteiner .comment-img {
    display: none;
  }
}

#comments .conteiner .comment-img:hover {
  transform: translateY(-0.1875em);
}

#qa .conteiner {
  position: relative;
  z-index: 40;
}

#qa .conteiner .qa-bg {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #qa .conteiner .qa-bg {
    height: 940px;
    object-fit: cover;
    object-position: -413px 0px;
  }
}

#qa h2 {
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  #qa h2 {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

#qa .qa-conteiner {
  position: absolute;
  right: 10%;
  top: 200px;
  width: 616px;
  z-index: 40;
}

@media screen and (max-width: 767px) {
  #qa .qa-conteiner {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    padding-top: 117px;
    width: 91%;
  }
}

#qa .qa-conteiner .qa-list .qa-list-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  background-color: white;
  margin-bottom: 40px;
  padding-bottom: 18px;
  border-radius: 7px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  transition: all 0.3s ease 0s;
}

#qa .qa-conteiner .qa-list .qa-list-item .question {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 18px 18px 20px 18px;
}

#qa .qa-conteiner .qa-list .qa-list-item h3 {
  font-size: 16px;
  letter-spacing: 0.4px;
  padding-left: 13px;
  line-height: 26px;
}

#qa .qa-conteiner .qa-list .qa-list-item .plus {
  width: 15px;
  height: 15px;
  margin-right: 0;
  margin-left: auto;
}

#qa .qa-conteiner .qa-list .qa-list-item .Q {
  color: #FFF;
  background-color: #009944;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 3.5px 5.5px 3.5px 5.5px;
}

#qa .qa-conteiner .qa-list .answer {
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 7px;
  padding: 18px 14px;
  width: 90%;
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 767px) {
  #qa .qa-conteiner .qa-list .answer {
    width: 82%;
  }
}

#qa .qa-conteiner .qa-list .answer p {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #qa .qa-conteiner .qa-list .answer p {
    font-size: 16px;
  }
}

#qa .qa-conteiner .qa-list .qa-list-item:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

#access {
  height: 775px;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 767px) {
  #access {
    height: 574px;
    background-color: #3E3E3E;
  }
}

#access .bg-box {
  position: absolute;
  z-index: 39;
  top: -5px;
  width: 980px;
  height: 616px;
  background-color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  #access .bg-box {
    display: none;
  }
}

#access .conteiner {
  position: absolute;
  top: 130px;
  z-index: 41;
  display: flex;
  padding-left: 93px;
  padding-right: 93px;
  width: 85%;
}

@media screen and (max-width: 767px) {
  #access .conteiner {
    width: 88.5%;
    display: block;
    top: 0;
    padding: 40px 16px;
  }
}

#access .conteiner .adlles h3 {
  color: #FFFFFF;
  text-align: left;
}

#access .conteiner .adlles p {
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  #access .conteiner .adlles p {
    font-size: 12px;
    padding-top: 39px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  #access .conteiner .adlles .map-btn {
    display: none;
  }
}

#access .conteiner .map {
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  #access .conteiner .map {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  #access .conteiner .map {
    display: none;
  }
}

#access .conteiner .map-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  #access .conteiner .map-sp {
    display: block;
    box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 330px) {
  #access .conteiner .map-sp {
    display: none;
  }
}

#access .conteiner .map-sp2 {
  display: none;
}

@media screen and (max-width: 330px) {
  #access .conteiner .map-sp2 {
    display: block;
    box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

#access .conteiner .map-btn-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  #access .conteiner .map-btn-sp {
    display: block;
    text-align: center;
  }
}

#access .conteiner .map-btn-sp a {
  letter-spacing: 1.8px;
}

#contact {
  position: relative;
}

@media screen and (max-width: 767px) {
  #contact {
    top: -5px;
  }
}

#contact .bg-img {
  width: 100%;
  height: 1216px;
}

@media screen and (max-width: 767px) {
  #contact .bg-img {
    height: 1200px;
    object-fit: cover;
    object-position: 0 0;
  }
}

#contact .conteiner {
  position: absolute;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

@media screen and (max-width: 767px) {
  #contact .conteiner {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    width: 91%;
  }
}

#contact .conteiner .contact-top {
  position: relative;
  top: 15px;
  left: -9px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-top {
    top: 12px;
    left: -3.5px;
  }
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-top .top-img {
    width: 102%;
    height: 160px;
  }
}

#contact .conteiner .contact-top .contact-title {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 61.5px;
  padding-bottom: 61.5px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-top .contact-title {
    width: 100%;
    padding-top: 32px;
  }
}

#contact .conteiner .contact-top .contact-title h3 {
  color: #FFFFFF;
}

#contact .conteiner .contact-top .contact-title p {
  color: #FFFFFF;
  text-align: center;
  padding-top: 12px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-top .contact-title p {
    font-size: 14px;
    padding: 10px 16px 34px 16px;
    line-height: 26px;
  }
}

#contact .conteiner .contact-contents {
  width: 780px;
  height: 735.5px;
  background-color: #FFFFFF;
  border-radius: 0 0 12px 12px;
  padding: 60px 90px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents {
    width: 100%;
    padding: 0;
    height: 920px;
  }
}

#contact .conteiner .contact-contents .contact-content {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content {
    display: block;
    width: 91%;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 0;
  }
}

#contact .conteiner .contact-contents .contact-content h4 {
  font-weight: normal;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content h4 {
    font-size: 16px;
  }
}

#contact .conteiner .contact-contents .contact-content .title {
  display: flex;
  align-items: center;
  width: 195px;
  height: 29px;
}

#contact .conteiner .contact-contents .contact-content .title p {
  vertical-align: middle;
  background-color: #ff4646;
  color: #FFFFFF;
  border-radius: 5px;
  margin-right: 91px;
  margin-left: auto;
  font-size: 16px;
  margin-right: 0;
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .title p {
    padding: 0 11px;
    font-size: 14px;
    margin: 0 0 0 20px;
  }
}

#contact .conteiner .contact-contents .contact-content .select {
  width: 261px;
  height: 32px;
  margin-right: 248px;
  margin-left: auto;
  font-size: 18px;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../img/select-arrow.svg") no-repeat center right 8px/16px 16px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .select {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 14px;
  }
}

#contact .conteiner .contact-contents .contact-content .select:hover {
  box-shadow: 3px 3px 5px rgba(59, 105, 255, 0.2);
}

#contact .conteiner .contact-contents .contact-content .text-box {
  width: 505px;
  margin-right: 0;
  margin-left: auto;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid rgba(62, 62, 62, 0.5);
  font-size: 22px;
  color: #3E3E3E;
  padding-left: 10px;
  border-right: none;
  border-left: none;
  border-top: none;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .text-box {
    width: 91%;
    font-size: 16px;
    margin-top: 10px;
  }
}

#contact .conteiner .contact-contents .contact-content .text-box:focus {
  border-bottom: 0.5px solid #4973FF;
  outline: none;
}

#contact .conteiner .contact-contents .contact-content .text-box:hover {
  border-bottom: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap {
  width: 142px;
  margin-right: 370px;
  margin-left: auto;
  display: flex;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio-text {
  width: 44px;
  font-size: 22px;
  padding-left: 27px;
  padding-right: 60px;
  vertical-align: middle;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .radio-wrap .radio-text {
    font-size: 16px;
    padding-top: 10px;
  }
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio {
  display: none;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #707070;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%);
  width: 12px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .radio-wrap .radio + span::before {
    top: 72%;
  }
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio:hover + span::before {
  background-color: rgba(59, 105, 255, 0.2);
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio:checked + span::before {
  background-color: #FFFFFF;
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3b69ff;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 6px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-content .radio-wrap .radio + span::after {
    top: 72%;
  }
}

#contact .conteiner .contact-contents .contact-content .radio-wrap .radio:checked + span::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .text-box {
    padding-left: 16px;
  }
}

#contact .conteiner .contact-contents .text-box .title {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .text-box .title {
    padding-top: 40px;
  }
}

#contact .conteiner .contact-contents .text-box .title h4 {
  font-weight: normal;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .text-box .title h4 {
    font-size: 16px;
  }
}

#contact .conteiner .contact-contents .text-box .text-area {
  width: 100%;
  height: 213px;
  transition: all 0.2s ease 0s;
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 200px;
  font-size: 22px;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .text-box .text-area {
    width: 91%;
    max-width: 91%;
    min-width: 91%;
    height: 160px;
    max-height: 150px;
    min-height: 200px;
    font-size: 16px;
    border: 0.5px solid #707070;
  }
}

#contact .conteiner .contact-contents .text-box .text-area:focus {
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .text-box .text-area:hover {
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .check-wrap {
  padding-bottom: 44px;
  padding-top: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .check-wrap {
    padding-top: 20px;
    padding-bottom: 34px;
  }
}

#contact .conteiner .contact-contents .check-wrap p {
  padding-left: 41px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .check-wrap p {
    font-size: 16px;
    padding-left: 58px;
  }
}

#contact .conteiner .contact-contents .check-wrap .checkbox {
  display: none;
}

#contact .conteiner .contact-contents .check-wrap .checkbox + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 3px;
}

#contact .conteiner .contact-contents .check-wrap .checkbox + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 20px;
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .check-wrap .checkbox + span::before {
    width: 18px;
    height: 18px;
    margin-left: 16px;
    margin-right: 20px;
  }
}

#contact .conteiner .contact-contents .check-wrap .checkbox:hover + span::before {
  background-color: rgba(59, 105, 255, 0.2);
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .check-wrap .checkbox:checked + span::before {
  background-color: #FFFFFF;
  border: 0.5px solid #4973FF;
}

#contact .conteiner .contact-contents .check-wrap .checkbox + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #3b69ff;
  border-left: 2px solid #3b69ff;
  content: "";
  display: block;
  height: 7px;
  left: 3px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 13px;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .check-wrap .checkbox + span::after {
    left: 18px;
  }
}

#contact .conteiner .contact-contents .check-wrap .checkbox:checked + span::after {
  opacity: 1;
}

#contact .conteiner .contact-contents .contact-btn {
  text-align: center;
}

@media screen and (max-width: 767px) {
  #contact .conteiner .contact-contents .contact-btn .or-btn {
    font-size: 18px;
  }
}

.floating {
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 50;
}

.floating a {
  display: block;
  color: #fff;
  background: transparent;
  padding: 8px;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

.floating a:hover {
  opacity: 1;
}

footer {
  background-color: #3E3E3E;
  height: 424px;
  position: relative;
  top: -5px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  footer {
    height: 400px;
  }
}

footer .conteiner {
  display: flex;
  padding: 120px 93px;
}

@media screen and (max-width: 767px) {
  footer .conteiner {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-left .sns-btn {
    padding-top: 60px;
  }
}

footer .conteiner .footer-left .sns-btn .fab {
  font-size: 36px;
  color: #FFFFFF;
  opacity: 0.6;
  padding-right: 20px;
  padding-bottom: 20px;
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-left .sns-btn .fab {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-left .sns-btn .fa-twitter {
    padding-right: 132px;
  }
}

footer .conteiner .footer-left .sns-btn .fa-twitter:hover {
  color: #1DA1F2;
  opacity: 1;
}

footer .conteiner .footer-left .sns-btn .fa-facebook-square:hover {
  color: #3C5A99;
  opacity: 1;
}

footer .conteiner .footer-left .footer-text a {
  color: #FFFFFF;
  display: block;
  padding-top: 20px;
  opacity: 0.6;
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-left .footer-text a {
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 26px;
  }
}

footer .conteiner .footer-left .footer-text a:hover {
  opacity: 1;
  color: #FFAA3B;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-left .footer-text .sp-text {
    display: flex;
    padding-top: 20px;
  }
}

footer .conteiner .footer-right {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-right {
    margin: 0 auto;
    text-align: center;
  }
}

footer .conteiner .footer-right h2 {
  color: #E3E3E3;
  font-size: 44px;
  font-weight: bold;
  padding-top: 43px;
  padding-right: 9px;
  line-height: 77px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-right h2 {
    font-size: 34px;
    padding: 30px 0 0 0;
  }
}

footer .conteiner .footer-right p {
  color: #FFFFFF;
  opacity: 0.6;
  letter-spacing: 0.3px;
  font-size: 12px;
  padding-top: 18px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  footer .conteiner .footer-right p {
    text-align: center;
    padding-top: 0;
    line-height: 15px;
  }
}

footer .haniwa {
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
